.container {
  border: 1px solid;
  width: 40%;
  background-color: bisque;
}
 #new-task-input {
  width: 490px;
  height: 30px;
}

.task {
  display: flex;
  flex-direction: row;
}

.actions {
  margin-left: 150px;
  margin-top: 20px;
}

.edit {
  background-color: rgb(212, 66, 95);
  color: white;
}

.delete {
  background-color: rgb(106, 189, 28);
  color: white;
}

#new-task-submit {
  background-color: rgb(255, 119, 244);
  color: white;
}

.text {
  width: 200px;
  height: 20px;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.checkbox {
  margin-left: 5px;
  margin-top: 20px;
}

.clear-btn {
  width: 100%;
  height: 35px;
  margin-top: 20px;
}
